@page "/apodrand"
@inject HttpClient Http

<PageTitle>Random APOD</PageTitle>

@if (apodRandServices == null)
{
    <p><em>Loading...</em></p>
}
else{
    @foreach (var randapod in apodRandServices)
    {
        <!-- APOD random card-->
        <aside id="nasa__random" class="nasa__card">
                @if (randapod.media == "video") 
                    {
                        <iframe class="iframeSm" controls
                            src="@randapod.hdurl" allowfullscreen="true">
                        </iframe>
                    }                
                    else {
                        <img class="api2HDimg2" src="@randapod.hdurl" alt="image_empty">
                    }
                <h3>Random APOD</h3>
                <h4 class="api2Date">@randapod.date</h4>
                <button id="obARM" class="btn btn--secondary">View</button>
        </aside> <!-- APOD random card end-->
        <!-- APOD random modal -->
        @*<dialog id="randAPODmodal" class="modal2">
            <span id="cbARM" class="close-button">&times;</span>
            <div class="apod__content">
                <h2 id="api2Date2">@randapod.date</h2>
                @if (randapod.media == "video") 
                {
                    <iframe class="iframeLg" controls
                        src="@randapod.hdurl" allowfullscreen="true">
                    </iframe>
                }                
                else {
                    <img class="api2HDimg2" src="@randapod.hdurl" alt="image_empty">
                }
                <h3 id="api2Title">@randapod.apodtitle</h3>
                <p id="api2Explanation">@randapod.explanation</p>
            </div>
        </dialog><!-- APOD random modal end -->*@
    }
}
@code {
    private APODService[]? apodRandServices;

    protected override async Task OnInitializedAsync()
    {
        apodRandServices = await Http.GetFromJsonAsync<APODService[]>("js/apod/apod2001-09-22.json");
    }
}
